version: '3.8'
services:
  api:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./server/models:/app/models
    environment:
      - ALLOWED_ORIGINS=*
